div {
    padding: 15px;
    display: flex;
    justify-content: center;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    border: 2px groove gainsboro;
    border-radius: 20px;
}
label {
    color:crimson;
    font: 1em sans-serif;
}
#auth {
    color: white;
    background-color: crimson;
    font: 1em sans-serif;
}
head {
    display: flex;
    justify-content: center;
}
#theme {
    color: white;
}
#fail {
    font-size:small;
}
input {
    border-color: crimson;
}
#check {
    border-left: 2px groove gray;
    border-right: 2px groove gray;
    border-bottom: 2px groove gray;
    border-radius: 20px;
    background-color: gray;
}