#position2 {
    display: flex;
    justify-content: center;
    height: 0px;
    position: relative;
    top: 30px;
}

#end {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

}