label {
    font-family: 'Helvetica';
}

#card2 {
    position: relative;
    width: 920px;
    height: 200px;
    background: linear-gradient(90deg, #CFF37D 0%, #7DE88C 100%);
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 10px;
}

.dino {
    position: absolute;
    left: 1.74%;
    right: 92.17%;
    top: 139px;
    bottom: 0%;
    width: 70px;
    height: 60px;
}

#asteroid2 {
    position: absolute;
    width: 218px;
    height: 118px;
    left: 43px;
}

.name {
    position: absolute;
    width: 94px;
    height: 32px;
    left: 325px;
    top: 24px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    text-decoration-line: underline;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    width: 289px;
    height: 88px;
    left: 325px;
    top: 72px;
}

.date {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 0px;
    position: static;
    width: 289px;
    height: 24px;
    left: 0px;
    top: 0px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 8px 0px;
}

.distance {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 0px;
    position: static;
    width: 289px;
    height: 24px;
    left: 0px;
    top: 32px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 8px 0px;
}

.size {
    position: static;
    height: 24px;
    left: 0px;
    right: 232px;
    top: calc(50% - 24px/2);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: flex-end;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
}

#rate21 {
    position: absolute;
    width: 80px;
    height: 20px;
    left: 774px;
    top: 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: flex-end;
    text-align: center;
}

#rate22 {
    position: absolute;
    width: 80px;
    height: 48px;
    left: 766px;
    top: 40px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: flex-end;
    text-align: center;
}

.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 16px;
    position: absolute;
    width: 137px;
    height: 30px;
    left: 720px;
    top: 96px;
    background: #186DD6;
    border-radius: 24px;
}

.destroy {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 4px;
    background: transparent;
    border: transparent;
}